
.divider {
   margin: 60px 0;
	 border-top: 1px solid #DDD;
   width: 100%
}

content {
	width: 100%;
	max-width: 1140px;
	margin: 0px auto;
	display: block;
}

h1 {
	color: #BBB; 
	font-size: 1.3em;
	font-weight: 300;
	margin-bottom: 56px;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 0px white;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #ffffff;
  height: 0px;
  line-height: 0px;
	margin-top: 120px;
	margin-bottom: 120px;
}

h1 > span {
  background: white url('../img/bg.jpg') center center;
  padding: 0px 40px;
}

h1 > span i {
  line-height: 0px !important;
  position: relative;
  top: -8px;
  margin-right: 10px;
}

a, a:link, a:visited {
  color: #29A9DF;
  outline: none;
}

a:hover {
  color: #74CAEC;
  text-decoration: none;
}


.logo {
  color: #29A9DF;
  font-weight: bold;
  font-size: 1em;
}

img.logo {
  position: relative;
  left: -2px;
}

i.icon-gray {
  color: #DDD;
  font-size: 2em;
  line-height: 0.5;
  padding-right: 6px;
}

.sidenote {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 0.9em;
}


content .column30 {
  padding-top: 30px;
  float: left;
  width: 100%;
  display: block;
}

content .column30 .column {
  float: left;
  width: 30%;
  margin-left: 3%;
}

content .column30 p strong {
  color: #666;
} 

content .column30 .column-head {
  display: block;
  width: 100%;
  font-size: 4em;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px white;
  color: #666;
}

content .column30 .column-head.highlighted {
  font-size: 6em;
  margin-top: 20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 131px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  cursor: pointer;
  padding-bottom: 40px;
}
.featurette-image {
	width: 260px;
  position: relative;
	margin-top: -47px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 50px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 200ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 200ms ease-in-out; /* Opera */
}

.featurette .link {
  color: #888;
  display: inline;
  padding-bottom: 3px;
}

.featurette:hover .link {
  border-bottom: 1px solid #cdcdcd;
}


/* Internship
------------------------- */

#columns {  
  padding-right: 0px;
  -moz-column-gap: 15px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 15px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
  overflow: visible;
  margin-top: 40px;
}

.internship {
  cursor: pointer;
  position: relative;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block; 
  background: white;
  border-right: 0px solid #29A9DF;
  margin-bottom: 15px;
  width: 98%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 200ms ease-in-out; /* Safari and Chrome */
  -o-transition: all 200ms ease-in-out; /* Opera */
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding-bottom: 14px;
}

.internship i {
  position: absolute;
  right: 17px;
  top: 17px;
}

.internship ul {
  padding: 0px;
  margin: 0px;
}

.internship li {
  padding: 6px 11px;
  color: #888;
  list-style-type: none;
  border-top: 1px dashed #f1f1f1;
  line-height: 1.3;
}

.internship:hover {
  border-right: 4px solid #29A9DF;
}

.internship-head {
  font-weight: bold;
  line-height: 3em;
  padding: 0px 12px;
  font-size: 18px;
}

/** Slide In */

.slideIn {
  -webkit-transition: opacity 400ms ease-out, left 400ms ease-out;
  -moz-transition: opacity 400ms ease-out, left 400ms ease-out;
  -o-transition: opacity 400ms ease-out, left 400ms ease-out;
  transition: opacity 400ms ease-out, left 400ms ease-out;
  opacity:0;
  filter:alpha(opacity=0); /* For IE8 and earlier */
  position: relative;
  left: 200px;
}

.slideIn.right {
  left: -200px;
}

.slideIn.shown {
  left: 0px;
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
;
  overflow: visible;
}

/* Reflect */

.reflect {
  overflow: hidden;
  bottom: 0px;
  height: 440px;
  width: 569px;
  position: absolute;
  -webkit-transition: left 500ms linear, opacity 250ms linear;
  -moz-transition: left 500ms linear, opacity 250ms linear;
  -o-transition: left 500ms linear, opacity 250ms linear;
  transition: left 500ms linear, opacity 250ms linear;
  right: 100%;
}

.reflect > div {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.05)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#33ffffff',GradientType=1 ); /* IE6-9 */
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  width: 300px;
  height: 640px;
  position: absolute;
  top: -130px;
  transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -moz-transform:rotate(30deg); /* Firefox */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  -o-transform:rotate(30deg); /* Opera */
  left: 130px;
}

/* top stripe */

a.forkme {
  -webkit-transform-origin: 0% 56%;
  background: rgba(94, 198, 255, 0.5);
  position: absolute;
  right: -103px;
  top: -73px;
  z-index: 11;
  transform:rotate(40deg);
  -ms-transform:rotate(40deg); /* IE 9 */
  -moz-transform:rotate(40deg); /* Firefox */
  -webkit-transform: rotate(40deg); /* Safari and Chrome */
  -o-transform:rotate(40deg); /* Opera */
  transform: rotate(40deg);
 -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  padding: 23px 103px;
  -webkit-transform-origin: 0% 56%;
  font-size: 1.1em;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
}

/* words */

.words {
  text-align: center; 
  margin-top: 100px;
  margin-bottom: 100px;
}

.words li {
  font-size: 2.7em;
  display: inline;
  list-style: none;
  font-weight: 300;
}

.words li:nth-child(even) {
  color: #BBB;
}

/* adn */

.adn {
  position: relative;
}

.adn .box {
  font-size: 19px;
  line-height: 1.3;
  position: absolute;
  background: white;
  border-right: 0px solid #29A9DF;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  top: 0px;
  right: 0px;
  padding: 20px;
  border-left: 1px solid #bbb;
}

.adn .box.box1 {
  left: 317px;
  top: 21px;
}


.adn .box.box2 {
  left: 746px;
  top: 175px;
  border-left: 1px solid #29A9DF;
}

.adn .box.box3 {
  left: 355px;
  top: 330px;
}

.adn .box > div {
  position: absolute;
  background: #29A9DF;
  height: 1px;
  right: 100%;
  top: 88px;
  opacity: 0.5;
}
.adn .box1 > div {
  width: 175px;
  background: #bbbbbb;
}

.adn .box2 > div {
    width: 578px;
}

.adn .box3 > div {
    width: 198px;
    background: #bbbbbb;
}

.adn strong {
  color: #29A9DF;
}

/* Timeline */

.timeline {
  width: 100%;
  height: 360px;
  margin-bottom: 80px;
}

.timeline > content {
  position: relative;
  background: white;
  height: 100%;
  margin-top: 200px;
}

.timeline > content > .start {
  background: white;
  position: absolute;
  right: 100%;
  top: 0px;
  width: 100%;
  height: 100%;
}

.timeline > content > .end {
  background: rgba(0, 0, 0, 0.03) url('../img/timeline.png') no-repeat left center;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100%;
}

.timeline .date {
  position: absolute;
  font-weight: bold;
  bottom: 0px;
  top: -13px;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  color: #888;
  height: 13px;
}

.timeline .date.with-text {
  top: -35px;
  bottom: 0px;
  height: auto;
  color: #29A9DF;
  border-left: 5px solid rgba(41, 169, 223, 0.2);
  padding-left: 8px;
  padding-top: 5px;
}

.timeline .date.now {
  color: rgba(223, 152, 41, 1);
  border-color: rgba(223, 152, 41, 0.2);
}

.timeline .date-strip {
 position: absolute;
 top: -73px;
 height: 13px;
}

.timeline .text {
  background: transparent url('../img/timeline-point.png') no-repeat left center;
  width: 300px;
  position: absolute;
  color: #333;
  padding-left: 50px;
  line-height: 1.3;
}


.timeline strong {
  color: #29A9DF;
}

.timeline .text > div {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px;
}